[workspace]
members = [
    "crates/*",
]
resolver = "2"

[profile.release]
lto = true
codegen-units = 1
overflow-checks = false
debug = true 

[profile.size]
inherits = "release"
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
strip = "symbols"
overflow-checks = false
debug = false
