# mesh-init service definition for app4-ch's ssh-mesh node.

[Service]
User = "103"
Group = "103"

ExecStart = "ssh-mesh"
OOMScoreAdjust = -900
[[Peer]]
uid = 103

[Resources]
MemoryHigh = "256M"
MemoryMax = "512M"
CPUWeight = 100

[Environment]
PATH = "/opt/ssh-mesh/bin:/opt/initos/bin:/opt/busybox/bin"
RUST_LOG = "info"
SSH_PORT = "18522"
HTTP_PORT = "18580"
MUX_DIR = "/home/app4/run/ssh-mesh/mux"
MESH_INIT_SOCK = "/home/app4/run/mesh-init/control.sock"
SSH_MESH_HOME_ROOT = "/home"
