# Local mesh discovery for the host1-mode node.

[Service]

ExecStart = "lmesh"
OOMScoreAdjust = -810
[Resources]
memory_high = "64M"
memory_max = "128M"
cpu_weight = 50

[Environment]
PATH = "/opt/ssh-mesh/bin:/opt/busybox/bin"
RUST_LOG = "info"

[[Peer]]
uid = 1000

[[Peer]]
uid = 1001
id = "sshd.meshlocal"
delegate = "*.meshlocal"
