[Service]

ExecStart = "mesh9p /home/system:/host1:rw /tmp/mesh/shared:/shared:rw /opt"
OOMScoreAdjust = -600
[Resources]
MemoryMin = "64M"
MemoryHigh = "128M"
CPUWeight = 50

[Environment]
RUST_LOG = "info"
